<div class="page-header">
  <h3>Venue #<%= @venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Venue address</dt>
      <dd><%= @venue.venue_address %></dd>

      <dt>Venu name</dt>
      <dd><%= @venue.venu_name %></dd>

      <dt>Most liked dishes</dt>
      <dd><%= @venue.most_liked_dishes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        Back
      </a>
      <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Venue has many dishes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dishes
      </li>

      <% @venue.dishes.each do |dish| %>
        <li class="list-group-item">
          <a href="/dishes/<%= dish.id %>">
            <%= dish.dish_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/dishes/<%= dish.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/dishes/<%= dish.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_dish" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish_name -->
      <div class="form-group">
        <label for="dish_name" class="control-label">
          Dish name
        </label>

        <input type="text" id="dish_name" name="dish_name" placeholder="Dish name" class="form-control" value="">
      </div>

      <!-- Label and input for cuisine_id -->
      <div class="form-group">
        <label for="cuisine_id" class="control-label">
          Cuisine
        </label>

        <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :cuisine_name), :class => "form-control") %>
      </div>

      <!-- Label and input for bookmark_id -->
      <div class="form-group">
        <label for="bookmark_id" class="control-label">
          Bookmark
        </label>

        <%= select_tag(:bookmark_id, options_from_collection_for_select(Bookmark.all, :id, :venue_id), :class => "form-control") %>
      </div>

      <!-- Label and input for venue_id -->
      <input type="hidden" name="venue_id" value="<%= @venue.id %>">

      <button class="btn btn-block btn-success">
        Create Dish
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Venue has many best_dishes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Best Dishes
      </li>

      <% @venue.best_dishes.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.venue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venue_id -->
      <input type="hidden" name="venue_id" value="<%= @venue.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for dish_name -->
      <div class="form-group">
        <label for="dish_name" class="control-label">
          Dish name
        </label>

        <input type="text" id="dish_name" name="dish_name" placeholder="Dish name" class="form-control" value="">
      </div>

      <!-- Label and input for venue_name -->
      <div class="form-group">
        <label for="venue_name" class="control-label">
          Venue name
        </label>

        <input type="text" id="venue_name" name="venue_name" placeholder="Venue name" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Bookmark
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
