<!-- Validation failure messages -->
<% if @dish.errors.any? %>
  <% @dish.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_dish/<%= @dish.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish_name -->
      <div class="form-group">
        <label for="dish_name" class="control-label">
          Dish name
        </label>

        <input type="text" id="dish_name" name="dish_name" placeholder="Dish name" class="form-control" value="<%= @dish.dish_name %>">
      </div>

      <!-- Label and input for cuisine_id -->
      <div class="form-group">
        <label for="cuisine_id" class="control-label">
          Cuisine
        </label>

        <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :cuisine_name, @dish.cuisine_id), :class => "form-control") %>
      </div>

      <!-- Label and input for bookmark_id -->
      <div class="form-group">
        <label for="bookmark_id" class="control-label">
          Bookmark
        </label>

        <%= select_tag(:bookmark_id, options_from_collection_for_select(Bookmark.all, :id, :venue_id, @dish.bookmark_id), :class => "form-control") %>
      </div>

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <input type="text" id="venue_id" name="venue_id" placeholder="Venue" class="form-control" value="<%= @dish.venue_id %>">
      </div>

      <button class="btn btn-warning">
        Update Dish
      </button>
      or
      <a href="/dishes/<%= @dish.id %>">Cancel</a>
    </form>
  </div>
</div>
