<div class="page-header">
  <h3>Dish #<%= @dish.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish name</dt>
      <dd><%= @dish.dish_name %></dd>

      <dt>Cuisine</dt>
      <dd>
        <% if @dish.cuisine.present? %>
          <a href="/cuisines/<%= @dish.cuisine_id %>">
            <%= @dish.cuisine.cuisine_name %>
          </a>
        <% end %>
      </dd>

      <dt>Bookmark</dt>
      <dd>
        <% if @dish.bestdish.present? %>
          <a href="/bookmarks/<%= @dish.bookmark_id %>">
            <%= @dish.bestdish.venue_id %>
          </a>
        <% end %>
      </dd>

      <dt>Venue</dt>
      <dd>
        <% if @dish.venue.present? %>
          <a href="/venues/<%= @dish.venue_id %>">
            <%= @dish.venue.venue_address %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dishes" class="btn btn-primary">
        Back
      </a>
      <a href="/dishes/<%= @dish.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish/<%= @dish.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
